@import "../../styles.scss";
.outer{
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    .errors{
        color:red;
        font-size: 14px;
        margin-bottom: 10px;
        .error{
            margin-bottom: 10px;
        }
    }
}